.header, .image, .text{
    display: flex;
    justify-content: center;
}
button{
    width: 100px;
    height: 50px;
    font-family: 'Pangolin', cursive;
    background: #EEEEEE;
    color: #06113C;
    margin: 5px;
    border-radius: 15px;
}
h1, h2{
    font-family: 'Pangolin', cursive;
    color: #55D8C1;
}
body{
    background: #F9F3EE;
    height: 100vh;
}
.buttons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}    
